@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-Light.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Light.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Light.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-Light.woff) format('woff'),
	url(../../assets/fonts/NoirPro-Light.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-Light.svg) format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-Light_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Light_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Light_1.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-Light_1.woff) format('woff'),
	url(../../assets/fonts/NoirPro-Light_1.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-Light_1.svg) format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-LightItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-LightItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-LightItalic.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-LightItalic.woff) format('woff'),
	url(../../assets/fonts/NoirPro-LightItalic.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-LightItalic.svg) format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-LightItalic_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-LightItalic_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-LightItalic_1.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-LightItalic_1.woff) format('woff'),
	url(../../assets/fonts/NoirPro-LightItalic_1.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-LightItalic_1.svg) format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Regular.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-Regular.woff) format('woff'),
	url(../../assets/fonts/NoirPro-Regular.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-Regular.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-Regular_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Regular_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Regular_1.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-Regular_1.woff) format('woff'),
	url(../../assets/fonts/NoirPro-Regular_1.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-Regular_1.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-Italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Italic.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-Italic.woff) format('woff'),
	url(../../assets/fonts/NoirPro-Italic.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-Italic.svg) format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-Italic_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Italic_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Italic_1.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-Italic_1.woff) format('woff'),
	url(../../assets/fonts/NoirPro-Italic_1.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-Italic_1.svg) format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-Medium.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Medium.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Medium.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-Medium.woff) format('woff'),
	url(../../assets/fonts/NoirPro-Medium.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-Medium.svg) format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-Medium_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Medium_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Medium_1.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-Medium_1.woff) format('woff'),
	url(../../assets/fonts/NoirPro-Medium_1.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-Medium_1.svg) format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-MediumItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-MediumItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-MediumItalic.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-MediumItalic.woff) format('woff'),
	url(../../assets/fonts/NoirPro-MediumItalic.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-MediumItalic.svg) format('svg');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-MediumItalic_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-MediumItalic_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-MediumItalic_1.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-MediumItalic_1.woff) format('woff'),
	url(../../assets/fonts/NoirPro-MediumItalic_1.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-MediumItalic_1.svg) format('svg');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-Bold.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Bold.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Bold.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-Bold.woff) format('woff'),
	url(../../assets/fonts/NoirPro-Bold.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-Bold.svg) format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-Bold_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Bold_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Bold_1.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-Bold_1.woff) format('woff'),
	url(../../assets/fonts/NoirPro-Bold_1.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-Bold_1.svg) format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-BoldItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-BoldItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-BoldItalic.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-BoldItalic.woff) format('woff'),
	url(../../assets/fonts/NoirPro-BoldItalic.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-BoldItalic.svg) format('svg');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-BoldItalic_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-BoldItalic_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-BoldItalic_1.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-BoldItalic_1.woff) format('woff'),
	url(../../assets/fonts/NoirPro-BoldItalic_1.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-BoldItalic_1.svg) format('svg');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-Heavy.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Heavy.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Heavy.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-Heavy.woff) format('woff'),
	url(../../assets/fonts/NoirPro-Heavy.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-Heavy.svg) format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-Heavy_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Heavy_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-Heavy_1.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-Heavy_1.woff) format('woff'),
	url(../../assets/fonts/NoirPro-Heavy_1.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-Heavy_1.svg) format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-HeavyItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-HeavyItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-HeavyItalic.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-HeavyItalic.woff) format('woff'),
	url(../../assets/fonts/NoirPro-HeavyItalic.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-HeavyItalic.svg) format('svg');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noir Pro';
	src: url(../../assets/fonts/NoirPro-HeavyItalic_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-HeavyItalic_1.eot) format('embedded-opentype'),
	url(../../assets/fonts/NoirPro-HeavyItalic_1.woff2) format('woff2'),
	url(../../assets/fonts/NoirPro-HeavyItalic_1.woff) format('woff'),
	url(../../assets/fonts/NoirPro-HeavyItalic_1.ttf) format('truetype'),
	url(../../assets/fonts/NoirPro-HeavyItalic_1.svg) format('svg');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}